# VARIABLES DEL DOMINIO CORPORATIVO
DOMINIO_CORPORATIVO

# VARIABLES DEL DOMINIO DE GLPI
GLPI_URL

# VARIABLES DE ENTORNO PARA LA BASE DE DATOS GLPI
GLPI_USER
GLPI_PASSWORD
GLPI_DATABASE
GLPI_HOST

# VARIBLES DEL DOMINIO DE ZULIP
ZULIP_URL

# VARIABLES DE SOPORTE TÉCNICO
NUMERO_SOPORTE1
NUMERO_SOPORTE2
CORREO_SOPORTE